<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: header">-->
<!--    <title>index</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<link rel="stylesheet" href="/css/login.css">-->

<!--<body>-->
<!--&lt;!&ndash; Navigation&ndash;&gt;-->
<!--<div th:replace="fragments/bodyHeader :: bodyHeader"></div>-->

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div th:replace="fragments/footer :: footer"></div>-->
<!--</body>-->
<!--</html>-->