<!--2023.10.19.DH 초안작성-->
<!--2023.10.20.DH 타임리프 식으로 변경-->
<!--2023.10.23 DH-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="" />
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            margin-top: 100px;
        }
        .container h2 {
            margin-bottom: 30px;
            font-weight: bold;
            text-align: center;
        }
        button{
            float:right;
            margin-top: 10px;
        }
    </style>
</head>

<body>
<!-- Navigation-->
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">
    <form role="form" action="/signup" method="post" onsubmit="submitForm();">
        <div th:class="form-group">
            <label th:for="user_id">아이디</label>
            <input type="text" class="form-control" name="user_id" placeholder="아아디를 입력하세요.">
<!--                   th:class="${#fields.hasErrors('user_id')}? 'form-control fieldError' : 'form-control'">-->
<!--            <p th:if="${#fields.hasErrors('user_id')}">Incorrect Date</p>-->
        </div>

        <div th:class="form-group">
            <label th:for="pw">비밀번호</label>
            <input type="password" class="form-control" name="pw" placeholder="비밀번호를 입력하세요.">
<!--                   th:class="${#fields.hasErrors('pw')}? 'form-control fieldError' : 'form-control'">-->
<!--            <p th:if="${#fields.hasErrors('pw')}">Incorrect Date</p>-->
        </div>

        <div th:class="form-group">
            <label th:for="name">이름</label>
            <input type="text" class="form-control" name="name" placeholder="이름을 입력하세요.">
<!--                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">-->
<!--            <p th:if="${#fields.hasErrors('name')}">Incorrect Date</p>-->
        </div>

<!--        <div th:class="form-group">-->
<!--            <label th:for="userEmail">이메일</label>-->
<!--            <input type="email" th:field="*{userEmail}" class="form-control" placeholder="이메일을 입력하세요.">-->
<!--        </div>-->

        <div th:class="form-group">
            <label th:for="phone">전화번호</label>
            <input type="text" class="form-control" name="phone" placeholder="전화번호를 입력하세요.">
        </div>

<!--        <div th:class="form-group">-->
<!--            <label th:for="birth">생년월일</label>-->
<!--            <input type="date" th:field="*{birth}" class="form-control" placeholder="생년월일을 입력하세요.">-->
<!--        </div>-->

        <input class="postBut" type="button" value="우편번호찾기" onclick="kakaopost()">

        <div th:class="form-group">
            <label th:for="city">주소</label>
            <input id="LOGIN_ADDR" type="text" name="addr" size="20" placeholder="주소" class="form-control">
        </div>

        <div th:class="form-group">
            <label th:for="detail_addr">상세주소</label>
            <input id="ADDR_DETAIL" type="text" name="detail_addr" placeholder="상세주소" class="form-control">
        </div>

        <div th:class="form-group">
            <label th:for="zipcode">우편번호</label>
            <input id="LOGIN_POST" type="text"  name="zipcode" placeholder="우편번호" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer"></div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function kakaopost() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.querySelector("#LOGIN_POST").value = data.zonecode;
                document.querySelector("#LOGIN_ADDR").value =  data.address
                document.querySelector("input[name=detail_addr]").focus(); //상세입력 포커싱
            }
        }).open();
    }
</script>
<script>
    function submitForm() {
        event.preventDefault(); // 폼 기본 동작 중단
        var formData = {
            user_id: document.querySelector('input[name="user_id"]').value,
            pw: document.querySelector('input[name="pw"]').value,
            name: document.querySelector('input[name="name"]').value,
            phone: document.querySelector('input[name="phone"]').value,
            addr: document.querySelector('input[name="addr"]').value,
            detail_addr: document.querySelector('input[name="detail_addr"]').value,
            zipcode: document.querySelector('input[name="zipcode"]').value
        };

        // JSON 데이터 전송
        fetch('/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('서버 오류');
                }
            })
            .then(data => {
                alert(data.message); // 서버에서 받은 메시지 출력
                if(data.status === 200) {
                    window.location.href = '/login';
                } else {
                    window.location.reload()
                }
            })
            .catch(error => {
                alert('오류: ' + error.message);
            });
    }
</script>
<script>
    var message = "[[${message}]]";
    if (message && message.trim() !== "") {
        alert(message);
    }
</script>
</body>
</html>